#content_search{
    height: 65px;
}
#panel_atender{
    display: none;
}
#ajax_loader{
    display: none;
}
#map_content{ 
    display: none;
    margin-top:2px;
}
#map{
    height: 100%;
    width: 100%; 
}
#info_map{
    font-size:24px;
}